<tr>
  <td><%= holiday.celebrated_on %></td>
  <td><%= holiday.name %></td>
  <td><%= holiday.origin %></td>
  <td><%= link_to 'Show', holiday %></td>
  <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
  <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
